// Adaptive media

@mobile-width-only: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

// Colors

@black: #000000;
@deep-dark-yellow-green: #122211;
@fb-color: #3b5998;
@htmlacademy-color: #090E4E;
@intensive-btn-bg: #335694;
@klein-blue: #335694;
@lavender: #ECEDF9;
@menu-bg: #083D54;
@skype-color: #00AFF0;
@slider-btn-bg-color: #1D3F21;
@vk-color: #6287AE;
@white: #ffffff;
@wild-blue-krayola: #a8acd7;
