// Adaptive media

@mobile-width-only: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

// Colors

@black: #000000;
@blue-purple: #7416C5;
@deep-dark-yellow-green: #122211;
@fb-color: #3b5998;
@klein-blue: #4A86CF;
@lavender: #ECEDF9;
@menu-bg-gradient: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
@menu-active-bg-gradient: linear-gradient(to top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
@vk-color: #6287AE;
@white: #ffffff;
@wild-blue-krayola: #a8acd7;
