.page-header {

}

.page-header__footer-wrapper {
	.container-adaptive();

	position: relative;
	display: block;
	height: 330px;
	background: #ECEDF9;
}


.page-header__logo-block {
	position: absolute;

	&--css {
		top: 43px;
		left: 15%;
	}

	&--html {
		top: 120px;
		right: 31%;
	}

	&--less {
		top: 180px;
		left: 27%;
	}

	&--gulp {
		top: 250px;
		right: 36%;
	}
}

.page-header__logo-text {
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
}
